@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    background-image: linear-gradient(316deg, #000000 0%, #231050 74%);
    color: white;
  }

#root {
  background-image: linear-gradient(316deg, #000000 0%, #231050 74%);
}

.form-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.form-container.show {
  opacity: 1;
  max-height: 500px; /* adjust to fit your form height */
}